<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-k-acc" version="0.0.1">
   <name>cordova-k-acc</name>
   <description>ACC Plugin for Cordova</description>
   <license>Apache 2.0</license>
   <keywords>cordova,core,acc,marketing</keywords>
   <!-- use "ACPCore" to access the ACPCore APIs in javascript -->
   <js-module name="cordova-acpcore" src="www/ACC_Cordova.js">
      <clobbers target="ACC" />
   </js-module>
   <!-- configure android platform -->
   <platform name="android">
      <!-- plugin source -->
      <source-file src="src/android/MainActivity.java" target-dir="src/com/oasitigre.kwallet" />
      <source-file src="src/android/ACC_Cordova.java" target-dir="src/com/konvergence.acc.cordova" />
      <source-file src="src/android/KFirebaseMessagingService.java" target-dir="src/com/konvergence.acc.cordova" />
      <config-file parent="/manifest" target="AndroidManifest.xml">
         <uses-permission android:name="android.permission.INTERNET" />
         <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      </config-file>
      <config-file target="AndroidManifest.xml" parent="/manifest/application">
         <service android:name="com.konvergence.acc.cordova.plugin.KFirebaseMessagingService" android:stopWithTask="false">
            <intent-filter>
               <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
         </service>
      </config-file>
      <framework custom="true" src="src/android/ACC_Cordova.gradle" type="gradleReference" />
   </platform>
   <!-- configure ios platform -->
   <platform name="ios">
      <!-- plugin source -->
      <source-file src="src/ios/ACC_Cordova.m" />
      <header-file src="src/ios/ACC_CordovaAppDelegate.h" />
      <header-file src="src/ios/AppDelegate+ACC_Cordova.h" /> 
      <source-file src="src/ios/AppDelegate+ACC_Cordova.m" />
      <header-file src="src/ios/CDVPlugin+ACC_Cordova.h" />
      <source-file src="src/ios/CDVPlugin+ACC_Cordova.m" />
      <!-- dependencies -->
      <framework src="libsqlite3.dylib" />
      <framework src="SystemConfiguration.framework" />
      <!-- sdk source for ios managed by cocoapods -->
      <podspec>
         <pods use-frameworks="true">
            <pod name="ACPCampaignClassic" spec="&gt;= 2.0" />
            <pod name="ACPUserProfile" spec="&gt;= 2.0" />
            <pod name="ACPCore" spec="&gt;= 2.0" />
         </pods>
      </podspec>
   </platform>
</plugin>